body{
    margin: 0px;
    padding: 0px;
  }

header{
    background-image:url("../img/pattern.png");
    background-color: rgba(78,160,255,255);
    margin: 0px;
    padding: 0px;
    height: 8em;
}

h1{
    font-size:3em;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    margin: 1em;
    padding: auto;
}

.logo{
    width: 18%;
    margin-top: 4em;
}

p{
    margin: 0em;
}
.descrizioni{
    margin-bottom: 2em;
}

.sotto_descrizioni{
    font-size: x-small;
}

a{
    text-decoration: none;
    color: rgba(53,177,231,255);
    font-weight: bold;
}